services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/data
    environment:
      - PORT=3000
      - NODE_ENV=production
